In [1]:
a=10
print(a)

10

### Data types
- all integers comes under the datatype calles **int**
- group of characters can be called as **string**
- decimal point numbers can be called as **float**
- complex numbers comes under the datatype called **complex**

In [10]:
a=10
b=10.4
c="12"
d='python'
e=1+2j
f=True
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'complex'>
<class 'bool'>

#### Typecasting
- conversion of one datatype to other datatype

In [11]:
a=100
print(type(a))
b=str(a)  #converting int datatype to str
print(type(b))

<class 'int'>
<class 'str'>

In [17]:
b=float(a)  #converting int datatype to float
print(b)
print(type(b))

100.0
<class 'float'>

In [19]:
b=complex(a)
print(b)
print(type(b))

(100+0j)
<class 'complex'>

In [20]:
bool(a)

True

In [21]:
a=0
bool(a)

False

In [22]:
a=-10005
bool(a)

True

In [24]:
a=450.8
b=str(a)
print(b)
print(type(b))
c=int(a)
print(c)
print(type(c))
d=complex(a)
print(d)
print(type(d))

450.8
<class 'str'>
450
<class 'int'>
(450.8+0j)
<class 'complex'>

In [33]:
a="onlinecourse"
#b=int(a)
c=complex(a)
print(b)
print(c)

ValueError: complex() arg is a malformed string

In [35]:
a='10'
b=int(a)
c=complex(a)
d=float(a)
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'complex'>
<class 'float'>

In [36]:
a=1+2j
b=int(a)

TypeError: can't convert complex to int

In [37]:
b=float(a)

TypeError: can't convert complex to float

In [40]:
b=str(a)
print(type(b))

<class 'str'>

#### input and output
- print() #to display information(output)

In [44]:
print(z)

NameError: name 'z' is not defined

In [45]:
print("z")

z

In [47]:
z=25
print(z)
print("z")

25
z

In [48]:
a=10
b=20
c=30
print(a)
print(b)
print(c)

10
20
30

In [49]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [53]:
print(a,b,c)
print(a,b,c)

10 20 30
10 20 30

In [54]:
print(a,end="\t")
print(b)
print(c)

10	20
30

In [56]:
print(a,end="\t")
print(b,end="@")
print(c)
print(a)

10	20@30
10

In [58]:
print(a,b,c)

10 20 30

In [59]:
print(a,b,c,sep=",")

10,20,30

In [60]:
print(a,b,c,sep=",",end="\t")
print(c,b,a)

10,20,30	30 20 10

In [61]:
print(a,b,c,sep="\n")

10
20
30

#### input()
- reading some values from the user

In [62]:
input()

45

'45'

In [63]:
input()

students

'students'

In [64]:
input()

45.3

'45.3'

In [65]:
print("enter a number")
input()

enter a number
45

'45'

In [66]:
input("enter a number")

enter a number45

'45'

In [69]:
a=input("enter some data")
print(a)

enter some data78
78

In [70]:
print(type(a))

<class 'str'>

In [71]:
a=int(input("enter any number"))
print(type(a))

enter any number45
<class 'int'>

In [73]:
a=float(input())

print(a)

45
45.0

In [75]:
# read the three inputs from the user and print the three inputs seperated with '#' end with '%'
a=int(input("enter a num"))
b=int(input())
c=int(input())
print(a,b,c,sep="#",end="%")

enter a num45
78
56
45#78#56%

In [76]:
print("the value a is",a)

the value a is 45

In [77]:
#write a program in python to swap two numbers
a=int(input())
b=int(input())
temp=a
a=b
b=temp
print(a,b)

10
20
20 10

In [78]:
a=int(input())
b=int(input())
a,b=b,a
print(a,b)

12
45
45 12