#### Nested if

In [ ]:
if condition:
    if condition:
        statements
    else:
        statements
else:
    statements

In [2]:
#write a python program to find if the num is divisible by 6 and b/w the range 50 to 100
num=int(input())
if num%6==0:
    if num>50 and num<=100:
        print("valid num")
    else:
        print("num should be in the range of 50 and 100")
else:
    print("not a valid num")

12
num should be in the range of 50 and 100

#### Loops
- for loop
- while loop
- range(start,end,step)

In [3]:
range(1,10,1)
#1,2,3,4,5,6,7,8,9

range(1, 10)

In [4]:
range(1,10,2)
#1,3,5,7,9

range(1, 10, 2)

In [5]:
range(10,1,-2)
#10,8,6,4,2

range(10, 1, -2)

In [6]:
range(10)  #10 is the end value,by default start value is 0 and step value is 1
#0,1,2,3,4,5,6,7,8,9

range(0, 10)

In [7]:
range(20,25) #by default it will take the step value as 1
#20,21,22,23,24

range(20, 25)

for iter in iterator:
    statements

In [ ]:
print("python")
print("python")
print("python")
print("python")
print("python")

In [8]:
for var in range(1,6,1):
    print("python")
# var=1--->python
# var=2--->python
# var=3---->python
# var=4---->python
# var=5---->python

python
python
python
python

In [9]:
for var in range(1,5):
    print(var)

# var=1--->1
# var=2--->2
# var=3---->3
# var=4---->4
# var=5---->5

1
2
3
4

In [11]:
#to print the num b/w 21 to 30
# print(21)
# ...
# print(30)
for a in range(21,31,1):
    print(a,end=",")

21,22,23,24,25,26,27,28,29,30,

In [12]:
#print the evn numbers b/w 1 to 20
for a in range(2,21,2):
      print(a,end=" ")

2 4 6 8 10 12 14 16 18 20

In [13]:
for i in range(1,21,2):
    print(i,end=",")

1,3,5,7,9,11,13,15,17,19,

In [15]:
for i in range(1,20):
    if(i%2==0):
        print(i,end=" ")

2 4 6 8 10 12 14 16 18

In [17]:
for a in range ( 1,21):
    print("a",end=" ")

a a a a a a a a a a a a a a a a a a a a

#### while loop

initialization
while condition:
    statements
    inc/dec

In [1]:
z=1
while z<=10:
    print(z,end=" ")
    z+=1   #z=z+1

1 2 3 4 5 6 7 8 9 10

In [ ]:
while True:
    print("*")

### break,continue and pass

In [8]:
#print the numbers b/w 1 to 50 excluding multiples of 3
for i in range(1,51):
    if i%3==0:
        continue
    print(i,end=" ")

1 2 4 5 7 8 10 11 13 14 16 17 19 20 22 23 25 26 28 29 31 32 34 35 37 38 40 41 43 44 46 47 49 50

In [5]:
for i in range(10):
    a=int(input())
    if a%3==0:
        break
    else:
        print(a)

1
1
2
2
4
4
5
5
7
7
8
8
9

In [7]:
a="python"
for i in a:
    if i=='t' or i=="o":
        continue
    print(i)

p
y
h
o
n

In [9]:
if 1:
    pass

In [11]:
for i in range(2):
    pass

In [15]:
# print the sum of 1st 10 natural numbers
#1,2,3,4,5,6,7,8,9,10
#0+1=1

# 0+1=1
# 1+2=3
# 3+3=6
# 6+4=10
# ..
s=0
for i in range(1,11):
    s=s+i
print(s)

55

In [17]:
#print the factors of a given number
num=int(input())
#6-1,2,3,4,5,6
for i in range(1,num+1):
    if num%i==0:
        print(i,end=" ")

6
1 2 3 6

In [ ]:
# print the factors count of given number
# print the product of natural numbers in the given range