# Good Morning

In [1]:
#input : abcd
#output : cdef 
s = input()
o = ''
for i in s:# a
    o = o + chr(ord(i)+2) # o = "" + chr(ord('a')+2)=chr(97+2)=chr(99)=c
print(o)

abcd
cdef

In [4]:
ord('a')

97

In [5]:
chr(97)

'a'

In [6]:
a = 'aa'+'aaa'
a

'aaaaa'

# Dictionary

In [3]:
#d = {key1:values1,key2:values2,key3:values3......}
d = {'cars':10,'bikes':35,'trucks':23}
d

{'cars': 10, 'bikes': 35, 'trucks': 23}

In [9]:
d = {'cars':10,'bikes':10,'trucks':10,'cars':'23'}
d

{'cars': '23', 'bikes': 10, 'trucks': 10}

In [10]:
d[0]

KeyError: 0

In [11]:
d['cars']

'23'

In [1]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [4]:
d

{'cars': 10, 'bikes': 35, 'trucks': 23}

In [5]:
# clear
d.clear()

In [6]:
d

{}

In [9]:
# copy
d = {'cars': 10, 'bikes': 35, 'trucks': 23}
d

{'cars': 10, 'bikes': 35, 'trucks': 23}

In [10]:
d1 = d
d1['cycles'] = 50
d

{'cars': 10, 'bikes': 35, 'trucks': 23, 'cycles': 50}

In [14]:
d2 = d.copy()
d2['buses']='23'
d

{'cars': 10, 'bikes': 35, 'trucks': 23, 'cycles': 50}

In [15]:
d2

{'cars': 10, 'bikes': 35, 'trucks': 23, 'cycles': 50, 'buses': '23'}

In [16]:
type(d2['buses'])

str

In [79]:
type(d2['cars'])

int

In [17]:
d

{'cars': 10, 'bikes': 35, 'trucks': 23, 'cycles': 50}

In [18]:
d2 = dict(d)

In [19]:
d2

{'cars': 10, 'bikes': 35, 'trucks': 23, 'cycles': 50}

In [20]:
d2['buses'] = 34

In [21]:
d

{'cars': 10, 'bikes': 35, 'trucks': 23, 'cycles': 50}

In [22]:
li = [1,3,4]
d3 = dict(li)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [81]:
# fromkeys
li = [1,2,3,4,5]
d.fromkeys(li)

{1: None, 2: None, 3: None, 4: None, 5: None}

In [28]:
d.fromkeys(li,5)

{1: 5, 2: 5, 3: 5, 4: 5, 5: 5}

In [26]:
# get
d

{'cars': 10, 'bikes': 35, 'trucks': 23, 'cycles': 50}

In [29]:
d.get('cars')

10

In [30]:
d['cars']

10

In [31]:
# items
d

{'cars': 10, 'bikes': 35, 'trucks': 23, 'cycles': 50}

In [32]:
d.items()

dict_items([('cars', 10), ('bikes', 35), ('trucks', 23), ('cycles', 50)])

In [33]:
# keys
d.keys()

dict_keys(['cars', 'bikes', 'trucks', 'cycles'])

In [34]:
# values
d.values()

dict_values([10, 35, 23, 50])

In [35]:
d

{'cars': 10, 'bikes': 35, 'trucks': 23, 'cycles': 50}

In [37]:
# pop
d.pop('cycles')

50

In [38]:
d

{'cars': 10, 'bikes': 35, 'trucks': 23}

In [39]:
# popitem
d.popitem()
d

{'cars': 10, 'bikes': 35}

In [40]:
# setdefault
d

{'cars': 10, 'bikes': 35}

In [43]:
d.setdefault('cars',13)

10

In [44]:
d

{'cars': 10, 'bikes': 35}

In [45]:
d.setdefault('cycles',24)

24

In [46]:
d

{'cars': 10, 'bikes': 35, 'cycles': 24}

In [47]:
# update
d

{'cars': 10, 'bikes': 35, 'cycles': 24}

In [50]:
d.update({'cars':23,'buses':10})

In [51]:
d

{'cars': 23, 'bikes': 35, 'cycles': 24, 'buses': 10}

In [52]:
d

{'cars': 23, 'bikes': 35, 'cycles': 24, 'buses': 10}

In [53]:
d[2.3] = 2

In [54]:
d

{'cars': 23, 'bikes': 35, 'cycles': 24, 'buses': 10, 2.3: 2}

In [57]:
for i in d.items():
    print(i)

('cars', 23)
('bikes', 35)
('cycles', 24)
('buses', 10)
(2.3, 2)

In [58]:
for i,j in d.items():
    print(i,j)

cars 23
bikes 35
cycles 24
buses 10
2.3 2

In [59]:
for i in d.values():
    print(i)

23
35
24
10
2

In [60]:
for i in d.keys():
    print(i)

cars
bikes
cycles
buses
2.3

In [77]:
#input : ['google.com','python.org','gotomeeting.com','git.com','apssdc.in']
# output: com
a = ['www.google.com','python.org','gotomeeting.com','git.com','apssdc.in']
d = {}#{}
for i in a:# i = 'google.com' 
    if i.split('.')[-1] in d:
        d[i.split('.')[-1]] +=1
    else:
        d[i.split('.')[-1]] = 1 #d['com'] = 1
print(d)
for i in d.keys():
    if d[i] == max(d.values()):
        print(i)

{'com': 3, 'org': 1, 'in': 1}
com

In [76]:
'www.google.com'.split('.')[-1]

'com'

In [78]:
d = {'cars':10}
type(d['cars'])

int