#### Comparison operators

In [1]:
2>3

False

In [2]:
34<10

False

In [3]:
34!=100

True

In [4]:
100<=100

True

In [6]:
100<=123

True

In [7]:
100==100

True

#### Logical operators
- and ,or, not
- and-----if all the inputs are true output is true.  
- or----if any of the inputs are true output is true.

In [9]:
2>3 and 2<3

False

In [10]:
2<3 and 3<4

True

In [11]:
2>3 or 2<3

True

In [12]:
34>100 or 56>100

False

In [13]:
not 10

False

In [14]:
a=10
a!=10

False

In [17]:
23==34 or 465>65

True

### Bitwise operators(&,|,^,<<,>>)

In [18]:
2 & 7

2

 8421
 0010
 0111
--------
 0010

In [19]:
2|3

3

In [20]:
2^3

1

In [21]:
2<<3

16

In [22]:
3<<2

12

In [23]:
3>>2

0

#### Identity operators
- is and isnot(==,!=)

In [24]:
100==100

True

In [25]:
100 is 100

True

In [26]:
a=100
a is not 100

False

In [27]:
a!=100

False

#### Membership operators
- in and not in

In [29]:
s=[1,2,3,4]
1 in s

True

In [30]:
2 not in s

False

### Flow controls
- conditionnal statements(if,else,elif,nestedif)
- loops(for,while)

In [ ]:
##### Conditional Statements
if condition:
    statement1
    statement2
    .........
    statementn
else:
    statements

In [39]:
if 2>3:
    
    print("true")
else:
    print("False")

False

In [41]:
# number should be greater than 10 and positive
num=100
if num>0:
    if num>10:
        print("valid")
    else:
        print("invalid")
else:
    print("invalid")

valid

In [70]:
# number is positive,negative or zero
n=25
if n==0:
    print("zero")
elif n>0:
    print("pos")
else:
    print("neg")

pos

In [62]:
# check whether the given number is even or odd
a=int(input())
if (a%2==0):
    print("even")
else:
    print(a," is odd")

45
45  is odd

In [50]:
# check whether given number is divisible by 2 but not 10
a=int(input())
if a%2 is 0 and a%10 is not 0:
    print("valid num")
else:
    print("invalid")

10
invalid

### range
- range(start,end,step)
- start is inclusive
- end is exclusive

In [52]:
range(1,5,1)
# 1,2,3,4

range(1, 5)

In [54]:
range(5,10,1)
# 5,6,7,8,9

range(5, 10)

In [55]:
range(1,20,2)
#1,3,5,7,9,11,13,15,17,19

range(1, 20, 2)

In [57]:
list(range(10,1,-1))
#10,9,8,7,6,5,4,3,2

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [59]:
list(range(5) ) # 5 is considered as end value
#by default start value =0 and step value is 1
# 0,1,2,3,4

[0, 1, 2, 3, 4]

In [61]:
list(range(34,37))  # 34 is start value and 37 is the end value
#by default stepcount is 1
#34,35,36

[34, 35, 36]

In [69]:
range(30.0,56.0,2.0)

TypeError: 'float' object cannot be interpreted as an integer

In [72]:
range(1,10,*2)

TypeError: type object argument after * must be an iterable, not int