3.Given 2 int values, return True if one is negative and 
one is positive. Except if the third parameter is True, 
then return True only if both are negative.
■pos_neg(1, -1, False) → True
■pos_neg(-1, 1, False) → True
■pos_neg(-4, -5, True) → True

23,45,False--false
-23,-45,False--false
-4,5,True---false
4,5,True---false

10 of 100 or 200.
90 to 110 or 190 to 210

#### Loops(for,while)

for iter in iterable:
    statements

In [11]:
for var in range(1,5):
    print(var)
    
# var-1--->1
# var-2-->2
# var-3----3
# var-4---4

1
2
3
4

In [17]:
for i in range(5):
    print("python",end="\t")
# i=0,python
# i=1,python
# i=2,python
# i=3,python
# i=4,python

python	python	python	python	python

In [22]:
#10 to 1--10,9,8,7,6,5,4,3,2,1,
for i in range(10,0,-1):
    print(i,end=",")

10,9,8,7,6,5,4,3,2,1,

In [25]:
a=b=c=30
print(a,b,c,sep=",")

30,30,30

In [27]:
# print the numbers in the given range inclusively
#45,50----45,46,47,48,49,50
lb=int(input())
ub=int(input())
for i in range(lb,ub+1):
    print(i,end=" ")

45
50
45 46 47 48 49 50

In [30]:
# print the numbers alternate numbers b/w the given range exclusively
#40,50---41,43,45,47,49
lb=int(input("enter the lower bound"))
ub=int(input("enter the upper bound"))
for i in range(lb+1,ub,2):
    print(i,end=" ")

enter the lower bound40
enter the upper bound50
41 43 45 47 49

In [29]:
for j in range(45,50,1):
    print(j)
# j=45,---45
# j=46,---46
# j=47,---47
# j=48,---48
# j=49,---49

45
46
47
48
49

In [35]:
# write a python program to print sum of first 10 natural numbers
#1+2+3+4+5+6+7+8+9+10=55

s=0
for i in range(1,11):
    s=s+i
print(s)

55

#### While 
while condition:  
    statements

In [1]:
i=1
while i<=10:
    print(i,end=" ")
    i+=1

1 2 3 4 5 6 7 8 9 10

In [2]:
i=10
while i>=1:
    print(i,end=" ")
    i-=1

10 9 8 7 6 5 4 3 2 1

In [ ]:
while True:
    print(1)

### break,continue and pass

In [5]:
#continue
#1,100
for i in range(1,100):
    if i%3==0:
        continue
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [3]:
# read the  inputs from the user.executed should be stopped when the 
#user enter a number 3 
while 1:
    a=int(input())
    if a==3:
        break

78
45
89
56
100
4528
54646546
3

In [6]:
for i in range(5):
    pass

In [ ]:
a=int(input())
while a!=3:
      continue

In [ ]:
#write a python program in python to find the factors of given number
#write a python program in python to find the product of natural numbers 
#in the given range inculsively