#### Lists
- represented with []
- collection of heteregenous data
- ordered
- mutable

In [1]:
l=[]
print(type(l))

<class 'list'>

In [2]:
l=[1,23.45,'string',1+2j]

In [3]:
l

[1, 23.45, 'string', (1+2j)]

In [4]:
l=[1,2,3,4,10,45.6,'a','b','c']

In [5]:
l[0]

1

In [6]:
l[-2]

'b'

In [7]:
a="python"
a[0]='t'

TypeError: 'str' object does not support item assignment

In [8]:
l

[1, 2, 3, 4, 10, 45.6, 'a', 'b', 'c']

In [9]:
l[3]=45

In [10]:
l

[1, 2, 3, 45, 10, 45.6, 'a', 'b', 'c']

In [12]:
#iterating the lists
for i in range(0,len(l)):   #accessing the elemnts using indexing
    print(l[i],end=" ")

1 2 3 45 10 45.6 a b c

In [14]:
for i in l:    #accessing the elements directly
    print(i,end=",")

1,2,3,45,10,45.6,a,b,c,

In [15]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [16]:
help(list.append)

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

In [17]:
l

[1, 2, 3, 45, 10, 45.6, 'a', 'b', 'c']

In [20]:
l.append("corona")
l

[1, 2, 3, 45, 10, 45.6, 'a', 'b', 'c', 'corona', 'corona', 'corona']

In [21]:
l.count("corona")

3

In [23]:
l.index(45.6)

5

In [24]:
help(list.insert)

Help on method_descriptor:

insert(self, index, object, /)
    Insert object before index.

In [25]:
l.insert(6,"covid19")
l

[1, 2, 3, 45, 10, 45.6, 'covid19', 'a', 'b', 'c', 'corona', 'corona', 'corona']

In [26]:
l.pop(10)   #removes an element using the index num

'corona'

In [27]:
l

[1, 2, 3, 45, 10, 45.6, 'covid19', 'a', 'b', 'c', 'corona', 'corona']

In [28]:
l.pop()   # removes the last elemnt from your list

'corona'

In [29]:
l

[1, 2, 3, 45, 10, 45.6, 'covid19', 'a', 'b', 'c', 'corona']

In [30]:
l.remove("covid19")  #removes the data with the element in you list

In [31]:
l

[1, 2, 3, 45, 10, 45.6, 'a', 'b', 'c', 'corona']

In [32]:
l.reverse()

In [33]:
l

['corona', 'c', 'b', 'a', 45.6, 10, 45, 3, 2, 1]

In [34]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Stable sort *IN PLACE*.

In [36]:
l.sort()

TypeError: '<' not supported between instances of 'float' and 'str'

In [37]:
l

['corona', 'c', 'b', 'a', 45.6, 10, 45, 3, 2, 1]

In [38]:
l.sort()

TypeError: '<' not supported between instances of 'float' and 'str'

In [39]:
l=[1,34,6,445,67,8,1,9]
l.sort()

In [40]:
l

[1, 1, 6, 8, 9, 34, 67, 445]

In [41]:
l.sort(reverse=True)

In [42]:
l

[445, 67, 34, 9, 8, 6, 1, 1]

In [43]:
l1=l.copy()
l1

[445, 67, 34, 9, 8, 6, 1, 1]

In [44]:
l

[445, 67, 34, 9, 8, 6, 1, 1]

In [45]:
l2=['abc','cde','fgh']
l.append(l2)

In [46]:
l

[445, 67, 34, 9, 8, 6, 1, 1, ['abc', 'cde', 'fgh']]

In [47]:
l1.extend(l2)

In [48]:
l1

[445, 67, 34, 9, 8, 6, 1, 1, 'abc', 'cde', 'fgh']

In [50]:
l.clear()

In [51]:
l

[]

In [52]:
del l1

In [53]:
l1

NameError: name 'l1' is not defined

In [55]:
# take 5 integer inputs from the user and store them in a list and print the list
l=[]
for i in range(5):
    a=int(input())
    l.append(a)
print(l)

2
3
4
5
6
[2, 3, 4, 5, 6]

In [57]:
l=[1,2,3,4,5,6,7,8]
#[2,4,6,8]
l1=[]
for i in l:
    if i%2==0:
        l1.append(i)
print(l1)

[2, 4, 6, 8]

In [63]:
l=[1,2,3,4,5,6,7,8,9,10]  #prime numbers from this list
#[2,3,5,7]
def prime(n):
    c=0
    for i in range(1,n+1):
        if n%i==0:
            c+=1
    if c==2:
        return 1
    else:
        return 0
l1=[]         
for i in l:
    if prime(i)==1:
        l1.append(i)
print(l1)

[2, 3, 5, 7]

In [64]:
#print the prime numbers in a list from the given range
#100,200
#300,1000
#1,10-----[2,3,5,7]


# l=[1,2,3,4]
# l1=[5,6,7,8]
# print the addtion of two lists[6,8,10,12]

#### Tuples
- ordered
- immutable 
- represented with ()

In [65]:
t=()
print(type(t))

<class 'tuple'>

In [66]:
t=("a","b",1,45,67,89,100.25)

In [67]:
t

('a', 'b', 1, 45, 67, 89, 100.25)

In [68]:
t[0]

'a'

In [69]:
t[-3]

67

In [70]:
t[0:len(t):2]

('a', 1, 67, 100.25)

In [72]:
for i in range(0,len(t)):
    print(t[i],end=" ")

a b 1 45 67 89 100.25

In [73]:
for i in t:
    print(i,end=" ")

a b 1 45 67 89 100.25

In [74]:
t

('a', 'b', 1, 45, 67, 89, 100.25)

In [75]:
t[0]='z'

TypeError: 'tuple' object does not support item assignment

In [76]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [77]:
t.index('a')

0

In [78]:
t.count('a')

1

#### Dictionaries
- represented with {}
- accessed with keys and values
- keys are immutable 
- values are mutable
- unordered

In [79]:
d={}
print(type(d))

<class 'dict'>

In [80]:
d={"m1":20,"m2":30,"m3":75,"english":65}
d

{'m1': 20, 'm2': 30, 'm3': 75, 'english': 65}

In [81]:
d1={1:"one",2:"two",3:"three"}
d1

{1: 'one', 2: 'two', 3: 'three'}

In [82]:
d   #m1,m2,m3,english -----keys
    #20,30,75,65--------values

{'m1': 20, 'm2': 30, 'm3': 75, 'english': 65}

In [84]:
d['m1']

20

In [85]:
d["english"]

65

In [86]:
d["m1"]=75

In [87]:
d

{'m1': 75, 'm2': 30, 'm3': 75, 'english': 65}

In [89]:
l=[]
l.append(1)
l.append(2)
l

[1, 2]

In [90]:
t=()
t[0]=1

TypeError: 'tuple' object does not support item assignment

In [91]:
d={}
d["maths"]=20
d

{'maths': 20}

In [92]:
d["physics"]=56

In [93]:
d

{'maths': 20, 'physics': 56}

In [95]:
d={}
#{1:1,2:4,3:9,4:16}
for i in range(10):
    d[i]=i**2
print(d)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [96]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [97]:
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [101]:
d.items()

dict_items([(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)])

In [102]:
d.keys()

dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [103]:
d.values()

dict_values([0, 1, 4, 9, 16, 25, 36, 49, 64, 81])

In [104]:
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [107]:
for i in d.keys():
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [108]:
for i in d.values():
    print(i,end=" ")

0 1 4 9 16 25 36 49 64 81

In [109]:
for i in d.items():
    print(i)

(0, 0)
(1, 1)
(2, 4)
(3, 9)
(4, 16)
(5, 25)
(6, 36)
(7, 49)
(8, 64)
(9, 81)

In [113]:
for key,value in d.items():
    print(key,end=" ")
    
    #print(value,end=" ")

0 1 2 3 4 5 6 7 8 9

In [114]:
for i in d.items():
    print(i[0])  #---- for keys
    # print(i[1])  #---- for values

0
1
2
3
4
5
6
7
8
9

In [ ]:
a=input()